<section id="banner">
    <div class="inner split">
        <section>
            <h2>Добро пожаловать на страницу авторских обучающих курсов <a href="#">Developers&#9830;Club</a></h2>
        </section>
        <section>
            <p>Можно совершенно бесплатно смотреть курсы по различным направлениям программирования, добавлять свои курсы, делиться опытом с начинающими свой профессиональный путь разработчиками</p>
            <ul class="actions">
                <li><a href="#" class="button special">Начать</a></li>
            </ul>
        </section>
    </div>
</section>